.container {
    display: grid;
    gap: 2px;
}

.container__item {
    display: grid;
    gap: 5px;
    background-color: white;
    padding: 10px;
}

.container__header {
    padding: 0px 20px;
}

.container__item--form {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 0 20px;
}

@media (max-width: 767px) {
    .container__item--form {
        display: flex;
        flex-direction: column;
    }
    
}

.container__item--marginTop {
    margin-top: 20px;
}

.container__input {
    padding: 14px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .container__input {
        border: 1px solid #ededed;
    }
}