.container {
    margin: 200px;
    display: grid;
    gap: 5px;
}

.container__item {
    background-color: white;
    padding: 20px;
}

.container__item--form {
    background-color: white;
    /* padding: 20px; */
}

