.list {
    list-style: none;
    padding: 0 20px;
}

.list__item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.list__task {
    font-size: 20px;
    margin: 0 12px;
    flex-grow: 1;
}

.list__task--done {
    text-decoration: line-through;
    color: #808080;
}