html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ededed;
    max-width: 1080px;
    margin: 120px auto;
}

@media (max-width: 767px) {
    body {
        margin: 40px 20px 0;
    }
}